/*
Colors:
Background Main: #869DA5
Background Container: #657537;
Background Footer & Header: #7A8D3C
Background Navigation & Content: #D2D5CE
Text: #363810
H1: #D2D5CE

*/


#container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: #657537;
}

#header{
    background-color: #7A8D3C;
    color: #D2D5CE;
}

#navigation{
    float: left;
    width: 20%;
    background-color: #D2D5CE;
}

#content{
    float: left;
    width: 80%;
    background-color: #D2D5CE;
    
}

#footer{
    clear: both;
    background-color: #7A8D3C;
    color: #D2D5CE;
}

#navigation li{
    list-style-type: none;
}

#navigation a{
    display: block;
    padding: 5px;
    background-color: #657537;
    color: #D2D5CE;
    text-decoration: none;
}

#navigation a:hover{
    background-color: #D2D5CE;
    color: #657537;
}

#navigation .active {
    background-color: #7A8D3C;
}


body{
    background-color: #869DA5;
    font-family: "Georgia", serif;
}
p {
    color: #363810;
    line-height: 1.5em;

}

h1 {
    color: #D2D5CE;
    font-family: "Arial", sans-serif;
    text-align: center;
}
h2 {
    color: #363810;
    font-family: "Arial", sans-serif;
}
h3 {
    color: #363810;
    font-family: "Arial", sans-serif;
}

ul, ol, dl, dt {
    background-color: #869DA5;
}

li, dd {
    background-color: #657537;
}


a:link {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: #204020;
    text-decoration: underline;
}
a:focus {
    color: red;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: blue;
}
